@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

body{
    font-family: 'SF Pro Display', sans-serif;
}

.navbarContainer{
    background:rgba(0,0,0,0.8);
}

@media only screen and (max-width: 767px) {
    .navItems{
        background:rgba(0,0,0,0.8);
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .navItems{
        font-size: x-small;
    }
}


@media (min-width: 1095px) and (max-width: 1160px){
    .navItems{
        font-size:12px;
    }
}

@media (min-width: 1029px) and (max-width: 1095px){
    .navItems{
        font-size:11px;
    }
}

@media (min-width: 915px) and (max-width: 1029px){
    .navItems{
        font-size:10.5px;
    }
}

@media (min-width: 826px) and (max-width: 900px){
    .navItems{
        font-size:9px;
    }
    .searchIcon, .bagIcon{
        height: 1.5rem;
    }
    .tarsLogo{
        height: 3.5rem;
        
    }
    .navbarContainer{
        height: 3.5rem;
    }
}

@media (min-width: 768px) and (max-width: 825px){
    .navItems{
        font-size:8px;
    }
    .searchIcon, .bagIcon{
        height: 1.2rem;
    }

    .tarsLogo{
        height: 2.7rem;
        
    }
    .navbarContainer{
        height: 2.7rem;
    }
}

@media (min-width: 1160px) and (max-width: 1245px){
    .navItems{
        font-size:small;
    }
}